// ==========================================================================
// Configuration
// ==========================================================================


// Font-sizes

$font-size-primary: 18px;

// Font-family

$font-family-primary: 'Raleway', sans-serif;


$font-weight-thin: 100;
$font-weight-default: 400;

// colors

$white: #fff;
$black: #000;
$gray: #333;

$color-primary: $gray;

