// ==========================================================================
// Configuration
// ==========================================================================


// Font-sizes

$font-size-primary: 18px;

// Font-family

$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Raleway', sans-serif;


$font-weight-thin: 100;
$font-weight-default: 400;

// Line height

$line-height-primary: 1.8em;
$line-height-secondary: 1.4em;

// colors
$noble-gray: #b2b2b2;
$tuna-gray: #363942;
$mine_shaft-gray: #333;
$gamboge-orange: #EA9312;


$white: #fff;
$black: #000;
$gray: #7E7E7E;

$color-primary: $mine_shaft-gray;
$color-secondary: $noble-gray;

$animation-speed-default: 0.7s ease-out;

$footer: (
	background-color:  ($tuna-gray)
); 