// ==========================================================================
// Main
// ==========================================================================

@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400);
@import "compass/typography/text/ellipsis";

html {
	font-size: 18px;

}

body {
	@include font-size(14px);
	color: $color-primary;
	font-family: $font-family-primary;
	font-weight: $font-weight-default;
	line-height: $line-height-primary;
}

p {
	@extend %paragraph-default-style;
}


.clients {
	h4 {
		padding-top: 15px;
		font-weight: 500;
	}
	ul {
		li {
			display: inline;
			margin-left: 5%;
			&:first-child {
				margin-left: 0;
			}
		}
	}
}

.myself {
	padding-top: 100px;
	font-family: $font-family-secondary;
	font-weight: 300;
	&__name {
		@include font-size(42px);
		font-weight: 300;
	}
	h3 {
		@include font-size(18px);
	}
	.dribble {
		display: inline-block;
	}
}

.testimonials {
	.col-md-6 {
		padding-bottom: 50px;
		color: $color-secondary;
	}
	&__music-section {
		text-align: center;
		padding-top: 100px;
		padding-bottom: 50px;
	}
	&__portrait {
		border-radius: 50%;
		width: 80px;
		float: left;
		margin-right: 20px;
		@include animation-default(border-radius);
		&:hover {
			border-radius: 0;
		}
	}
	&__quotes {
		font-style: italic;
		padding-left: 100px;
		&--name {
			margin-bottom: 5px;
			color: inherit;
			font-size: inherit;
		}
		&--position {
			margin: 0 0 10px;
			font-size: inherit;
		}
	}
}



.myapps {
	ul {
		padding-left: 0;
		li {
			display: inline;
			img {
				width: 30px;
			}
		}
	}
}

.offers {
	text-align: center;
	.col-md-6, .col-lg-4 {
		padding-bottom: 50px;
	}
}

.services, .header__works {
	padding-top: 100px;
	padding-bottom: 50px;
}

.line__orange {
	width: 80px;
	border-top: 2px solid #ea9312;
}

.portfolio {
	background: #efefef;
	text-align: center;
	padding: 30px 0;
	margin-top: 50px;
	color: $tuna-gray;
	img {
		max-width: 100%;
		border-radius: 5px;
		@include animation-default(opacity);
		&:hover {
			opacity: 0.5;
		}
	}
	&__list {
		list-style-type: none;
		@extend %clearfix;
	}
	&__listitem {
		width: 31%;
		background: $white;
		border-radius: 5px;
		display: inline-block;
		margin: 10px;
		padding: 15px;
		h3 {
			text-transform: uppercase;
			@include ellipsis(no-wrap);
			overflow: hidden;
		}
		@include transition(box-shadow $animation-speed-default); 
		&:hover {
			@include box-shadow(1px 2px 25px rgba(160, 160, 160, 0.4));
		}
		&--likes {
			width: 50%;
			float: left;
			text-align: left;
		}
		&--comments {
			width: 50%;
			float: right;
			text-align: right;
		}
	}
	&__link{
		color: inherit;
		font-size: 14px;
		letter-spacing: 1px;
		text-align: left;
		@include transition(color $animation-speed-default);
		&:hover, &:active {
			color: #ea9312;
			text-decoration: none;
		}
	}
}
