// ==========================================================================
// Main
// ==========================================================================

@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);

html {
	font-size: 18px;
}

body {
	@include font-size(18px);
	color: $color-primary;
	font-family: $font-family-primary;
	font-weight: $font-weight-default;
}

.testimonials {
	&__header-lockup {
		text-align: center;
		padding-top: 100px;
		padding-bottom: 50px;
	}
}