// ==========================================================================
// Mixins
// ==========================================================================


// Sets the rem value by calling the calculate rem, also sets a fallback
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin animation-default($style: color) {
	transition: $style $animation-speed-default;
}

@mixin responsive($size) {
	@if $size == "sm" {
		@media screen and (min-width: $mq-small) {
			@content;
		}
	}
	@if $size == "xs" {
		@media screen and (min-width: $mq-medium) {
			@content;
		}
	}
	@if $size == "md" {
		@media screen and (min-width: $mq-tablet) {
			@content;
		}
	}
	@if $size == "lg" {
		@media screen and (min-width: $mq-tablet-h) {
			@content;
		}
	}
}