// ==========================================================================
// Placeholders
// ==========================================================================

%paragraph-default-style {
	letter-spacing: 1px;
	color: $color-secondary;
	font-weight: lighter;
}

.bigicon {
	font-size: 3em;
}
