// ==========================================================================
// Placeholders
// ==========================================================================


%paragraph-default-style {
	letter-spacing: 1px;
	color: $color-secondary;
	font-weight: lighter;
}

%align-horizontal {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}


.bigicon {
	font-size: 3em;
}

.section__title {
	@include font-size(28px);
	font-family: $font-family-secondary;
	font-weight: 500;
}

.btnicon, .brandicon {
	margin-right: 10px;
}