@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400);
/* line 13, ../sass/_mixins.scss */
.portfolio__list:after {
  content: "";
  display: table;
  clear: both; }

/* line 6, ../sass/_placeholders.scss */
p {
  letter-spacing: 1px;
  color: #b2b2b2;
  font-weight: lighter; }

/* line 12, ../sass/_placeholders.scss */
.myself__image--main {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

/* line 19, ../sass/_placeholders.scss */
.bigicon {
  font-size: 3em; }

/* line 23, ../sass/_placeholders.scss */
.section__title {
  font-size: 28px;
  font-size: 1.55556rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500; }

/* line 29, ../sass/_placeholders.scss */
.btnicon, .brandicon {
  margin-right: 10px; }

/* line 8, ../sass/_main.scss */
html {
  font-size: 18px; }

/* line 13, ../sass/_main.scss */
body {
  font-size: 14px;
  font-size: 0.77778rem;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.8em; }

/* line 27, ../sass/_main.scss */
.clients h4 {
  padding-top: 15px;
  font-weight: 500; }
/* line 31, ../sass/_main.scss */
.clients__list {
  list-style-type: none; }
/* line 34, ../sass/_main.scss */
.clients__listitem {
  display: inline;
  margin-left: 5%; }
  /* line 37, ../sass/_main.scss */
  .clients__listitem:first-child {
    margin-left: 0; }
@media screen and (min-width: 768px) {
  /* line 41, ../sass/_main.scss */
  .clients__image {
    height: 50px; } }

/* line 48, ../sass/_main.scss */
.myself {
  padding-top: 100px;
  font-family: "Raleway", sans-serif;
  font-weight: 500; }
  /* line 52, ../sass/_main.scss */
  .myself .col-md-4, .myself .col-md-6 {
    padding-bottom: 50px; }
  @media screen and (min-width: 768px) {
    /* line 48, ../sass/_main.scss */
    .myself {
      padding-top: 40px; } }
  /* line 58, ../sass/_main.scss */
  .myself__name {
    font-size: 42px;
    font-size: 2.33333rem;
    font-weight: 500; }
  /* line 62, ../sass/_main.scss */
  .myself h3 {
    font-size: 18px;
    font-size: 1rem; }
  /* line 65, ../sass/_main.scss */
  .myself .dribble {
    display: inline-block; }

/* line 74, ../sass/_main.scss */
.testimonials .col-md-6 {
  padding-bottom: 50px;
  color: #b2b2b2; }
/* line 78, ../sass/_main.scss */
.testimonials__music-section {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px; }
/* line 83, ../sass/_main.scss */
.testimonials__portrait {
  border-radius: 50%;
  width: 80px;
  float: left;
  margin-right: 20px;
  transition: border-radius 0.7s ease-out; }
  /* line 89, ../sass/_main.scss */
  .testimonials__portrait:hover {
    border-radius: 0; }
/* line 93, ../sass/_main.scss */
.testimonials__quotes {
  font-style: italic;
  padding-left: 100px; }
  /* line 96, ../sass/_main.scss */
  .testimonials__quotes--name {
    margin-bottom: 5px;
    color: inherit;
    font-size: inherit; }
  /* line 101, ../sass/_main.scss */
  .testimonials__quotes--position {
    margin: 0 0 10px;
    font-size: inherit; }

/* line 109, ../sass/_main.scss */
.myapps ul {
  padding-left: 0; }
  /* line 111, ../sass/_main.scss */
  .myapps ul li {
    display: inline; }
    /* line 113, ../sass/_main.scss */
    .myapps ul li img {
      width: 30px; }

/* line 120, ../sass/_main.scss */
.services {
  text-align: center;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px; }
  /* line 124, ../sass/_main.scss */
  .services .col-md-6, .services .col-lg-4 {
    padding-bottom: 50px; }
  /* line 127, ../sass/_main.scss */
  .services__subheader {
    font-size: 18px;
    font-size: 1rem;
    letter-spacing: normal; }
  /* line 131, ../sass/_main.scss */
  .services img:hover {
    -webkit-animation: quickZoom 1s 1;
            animation: quickZoom 1s 1; }

/* line 136, ../sass/_main.scss */
.services__header, .header__works {
  padding-top: 100px;
  padding-bottom: 50px; }

/* line 141, ../sass/_main.scss */
.line__orange {
  width: 80px;
  border-top: 2px solid #ea9312; }

/* line 146, ../sass/_main.scss */
.portfolio {
  background: #efefef;
  text-align: center;
  padding: 30px 0;
  margin-top: 50px;
  color: #363942; }
  /* line 152, ../sass/_main.scss */
  .portfolio img {
    max-width: 100%;
    border-radius: 5px;
    transition: opacity 0.7s ease-out; }
    /* line 156, ../sass/_main.scss */
    .portfolio img:hover {
      opacity: 0.5; }
  /* line 160, ../sass/_main.scss */
  .portfolio__list {
    list-style-type: none; }
  /* line 164, ../sass/_main.scss */
  .portfolio__listitem {
    width: 31%;
    background: #fff;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    padding: 15px;
    transition: box-shadow 0.7s ease-out; }
    /* line 171, ../sass/_main.scss */
    .portfolio__listitem h3 {
      text-transform: uppercase;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
    /* line 178, ../sass/_main.scss */
    .portfolio__listitem:hover {
      box-shadow: 1px 2px 25px rgba(160, 160, 160, 0.4); }
    /* line 181, ../sass/_main.scss */
    .portfolio__listitem--likes {
      width: 50%;
      float: left;
      text-align: left; }
    /* line 186, ../sass/_main.scss */
    .portfolio__listitem--comments {
      width: 50%;
      float: right;
      text-align: right; }
  /* line 192, ../sass/_main.scss */
  .portfolio__link {
    color: inherit;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: left;
    transition: color 0.7s ease-out; }
    /* line 198, ../sass/_main.scss */
    .portfolio__link:hover, .portfolio__link:active {
      color: #ea9312;
      text-decoration: none; }

@-webkit-keyframes hover-orange {
  from {
    color: #363942; }
  to {
    color: #ea9312; } }

@keyframes hover-orange {
  from {
    color: #363942; }
  to {
    color: #ea9312; } }
@-webkit-keyframes quickZoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
@keyframes quickZoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
/* line 5, ../sass/modules/_header.scss */
.jumbotron {
  background-image: url("../img/trianglify-background.svg");
  height: 880px;
  text-align: center;
  padding-top: 100px;
  overflow: hidden;
  color: #fff; }
  /* line 12, ../sass/modules/_header.scss */
  .jumbotron .col-md-3 {
    padding: 0; }
  /* line 15, ../sass/modules/_header.scss */
  .jumbotron__header {
    max-width: 870px;
    margin: 0 auto; }
    /* line 18, ../sass/modules/_header.scss */
    .jumbotron__header h1 {
      font-size: 42px;
      font-size: 2.33333rem;
      font-weight: 500; }
    /* line 22, ../sass/modules/_header.scss */
    .jumbotron__header h3 {
      font-weight: 500;
      font-size: 18px;
      font-size: 1rem;
      line-height: 1.4; }
  /* line 28, ../sass/modules/_header.scss */
  .jumbotron__image {
    margin-top: 20px;
    max-width: 1200px;
    width: 100%; }
  /* line 33, ../sass/modules/_header.scss */
  .jumbotron .github-fork {
    background: url("https://camo.githubusercontent.com/c6286ade715e9bea433b4705870de482a654f78a/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f77686974655f6666666666662e706e67");
    height: 144px;
    width: 144px;
    position: absolute;
    left: 0;
    top: 0; }

/* line 5, ../sass/modules/_nav.scss */
.navbar {
  margin-bottom: 0; }
  /* line 7, ../sass/modules/_nav.scss */
  .navbar-brand {
    font-size: 18px;
    font-size: 1rem;
    line-height: 20px; }
  /* line 11, ../sass/modules/_nav.scss */
  .navbar-nav > li > a:hover {
    transition: all 0.7s ease-out; }
  /* line 14, ../sass/modules/_nav.scss */
  .navbar .nav > li > a:focus {
    background-color: #000;
    color: #fff;
    transition: all 0.7s ease-out; }

/* line 5, ../sass/modules/_buttons.scss */
.btn-default {
  margin: 50px 0;
  background: none;
  border: none;
  text-transform: uppercase;
  color: #b2b2b2;
  letter-spacing: 2px;
  transition: color 0.7s ease-out; }
  /* line 13, ../sass/modules/_buttons.scss */
  .btn-default:hover, .btn-default:active {
    background: none;
    border: none;
    color: #ea9312; }

/* line 5, ../sass/modules/_footer.scss */
footer {
  text-align: center;
  background-color: #363942;
  padding: 50px 0; }
  /* line 9, ../sass/modules/_footer.scss */
  footer a {
    color: #ea9312;
    transition: color 0.7s ease-out; }
    /* line 12, ../sass/modules/_footer.scss */
    footer a:hover, footer a:active {
      color: #363942;
      text-decoration: none; }
  /* line 18, ../sass/modules/_footer.scss */
  footer .footer .bigicon {
    color: #7E7E7E; }
  /* line 21, ../sass/modules/_footer.scss */
  footer .footer__list {
    padding-left: 0;
    margin: 30px 0; }
    /* line 24, ../sass/modules/_footer.scss */
    footer .footer__list--social {
      padding: 0;
      margin: 0 0 10px; }
  /* line 29, ../sass/modules/_footer.scss */
  footer .footer__listitem {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 3px; }
    /* line 34, ../sass/modules/_footer.scss */
    footer .footer__listitem--social {
      font-size: 2em; }
      /* line 36, ../sass/modules/_footer.scss */
      footer .footer__listitem--social a {
        color: #7E7E7E; }
  /* line 41, ../sass/modules/_footer.scss */
  footer .footer__copyright {
    color: #7E7E7E;
    font-weight: lighter;
    letter-spacing: 1px; }

/*# sourceMappingURL=app.css.map */