// ==========================================================================
// Header
// ==========================================================================

.jumbotron {
	background-image: image-url('trianglify-background.svg');
	height: 880px;
	text-align: center;
	padding-top: 100px;
	overflow: hidden;
	color: $white;
	.col-md-3 {
		padding: 0;
	}
	&__header {
		max-width: 870px;
		margin: 0 auto;
		h1 {
			@include font-size(42px);
			font-weight: 500;
		}
		h3 {
			font-weight: 500;
			@include font-size(18px);
			line-height: 1.4;
		}
	}
	&__image {
		margin-top: 20px;
		max-width: 1200px;
		width: 100%;
	}
	.github-fork {
		background: image-url('https://camo.githubusercontent.com/c6286ade715e9bea433b4705870de482a654f78a/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f77686974655f6666666666662e706e67');
		height: 144px;
		width: 144px;
		position: absolute;
		left: 0;
		top: 0;
	}
}


