// ==========================================================================
// Navigation
// ==========================================================================

.navbar {
	margin-bottom: 0;		
	&-brand {
		@include font-size(18px);
		line-height: $line-height-navbar;
	}
	&-nav>li>a:hover {
		@include animation-default(all);
	}
	.nav>li>a:focus {
		background-color: $black;
		color: $white;
		@include animation-default(all);
	} 
}